<div x-data="{ open: false }">
    <button @click="open = !open">Toggle Form</button>

    <div id="add-document"  x-show="open" x-data="{ document_name: '', file_path: '', uri_path: '', year_identifier: '' }">
        <form hx-post="/documents" hx-trigger="submit" hx-target="#documents_table" hx-swap="innerHTML" @submit.prevent="document_name = '', file_path = '', uri_path = '', year_identifier = ''">
            <label for="year_identifier">Year Identifier:</label><br>
            <select id="year_identifier" name="year_identifier">
                <option value="2020-2021">2020-2021</option>
                <option value="2021-2022">2021-2022</option>
                <option value="2022-2023">2022-2023</option>
                <option value="2023-2024">2023-2024</option>
                <option value="2024-2025">2024-2025</option>
            </select><br>
            <label for="document_name">Document Name:</label><br>
            <input type="text" id="document_name" name="document_name"><br>
            <label for="file_path">File Path:</label><br>
            <input type="text" id="file_path" name="file_path"><br>
            <label for="uri_path">URI Path:</label><br>
            <input type="text" id="uri_path" name="uri_path"><br>
            <input type="hidden" id="hiddenInput" name="year_success_identifier" value="{{year_success_identifier}}">
            <button type="submit">Add</button>
        </form>
    </div>
</div>