<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\www\ati\venv\Scripts\python.exe|C:\www\ati\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="wsgi.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
