<configuration>
  <system.webServer>
    <handlers>
      <add name="AtiHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <appSettings>
      <add key="FLASK_ENV" value="production" />
      <add key="FLASK_SECRET_KEY" value="PASTE-GENERATED-SECRET" />
      <add key="AUTH_ENFORCED" value="1" />
      <add key="AUTH_PROVIDER" value="local" />
      <add key="AUTH_ADMINS" value="913678186" />
      <add key="AUTH_DB_PATH" value="C:\www\ati\data\auth_users.sqlite3" />
      <add key="AUTH_SESSION_HOURS" value="12" />
      <add key="SESSION_COOKIE_SECURE" value="0" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>