<configuration>
  <system.webServer>
    <handlers>
      <add name="AtiHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="C:\www\ati;C:\Python312\Lib\site-packages" />
    <add key="WSGI_HANDLER" value="wsgi.application" />
    <add key="WSGI_LOG" value="C:\www\ati\wfastcgi.log" />
    <add key="WSGI_DEBUG" value="1" />
    <add key="AUTH_DB_PATH" value="C:\www\ati\app\auth_users.sqlite3" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>