<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS" crossorigin="anonymous"></script>
    <title>Add Year Success Evidence</title>
</head>
<body>
<h1>Add Document</h1>
<form action="/add_year_success" method="post">
    <label for="academic_year">Academic Year:</label>
    <input type="text" id="academic_year" name="academic_year"><br><br>

    <label for="status_level">Status Level:</label>
    <input type="text" id="status_level" name="status_level"><br><br>

    <label for="related_success_indicator">Related Success Indicator:</label>
    <input type="text" id="related_success_indicator" name="related_success_indicator"><br><br>

    <button type="submit">Add Year Success Evidence</button>
</form>
</body>
</html>