<div id="documents_table">
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>File Path</th>
    <th>URI Path</th>
    <th>Admin Review</th>
    <th>Milestone</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for document in documents %}
  <tr>
    <td>{{ document.name }}</td>
    <td>{{ document.file_path }}</td>
    <td>{{ document.uri_path }}</td>
    <td>{{ document.is_administrative_review_documentation }}</td>
    <td>{{ document.is_milestone_and_measures_documentation }}</td>
    <td>
        <button hx-swap="outerHTML" hx-trigger="click" hx-delete="/documents?hash={{ document.hash }}&{{ query_params | urlencode }}" hx-target="#documents_table">Delete</button>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
