<html>
<head>
    <title>Indicator Explorer</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div>
    Select Year
</div>
<div id="year-selector" class="year-selector">
    <button hx-get="/indicator_selector?ay=2020-2021" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2020-2021</button> |
    <button hx-get="/indicator_selector?ay=2021-2022" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2021-2022</button> |
    <button hx-get="/indicator_selector?ay=2022-2023" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2022-2023</button> |
    <button hx-get="/indicator_selector?ay=2023-2024" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2023-2024</button> |
    <button hx-get="/indicator_selector?ay=2024-2025" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2024-2025</button>
</div>

<div id="indicator-selector">
    <!-- This content will be replaced with the response from the /get-component endpoint -->
</div>


<div id="success-indicator-evidence">
    <!-- REPLACE HTML HERE FROM /get-component -->
</div>


</body>
<script>
    // var selectElement = document.getElementById('year_success_evidence');
    //
    // selectElement.addEventListener('htmx:configRequest', function(evt) {
    //     var selectedOption = selectElement.options[selectElement.selectedIndex];
    //     var successIndicator = selectedOption.getAttribute('data-success-indicator');
    //     var targetUrl = '/success-indicator/' + encodeURIComponent(successIndicator);
    //
    //     // Set the target URL dynamically
    //     evt.detail.path = targetUrl;
    // });


    function updateSuccessIndicator() {
        var selectElement = document.getElementById('year_success_evidence');
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var successIndicatorUrl = selectedOption.value;
        var hiddenTrigger = document.getElementById('hidden-trigger');

        // Set the hx-get attribute dynamically
        hiddenTrigger.setAttribute('hx-get', successIndicatorUrl);

        // Manually trigger the htmx request
        htmx.trigger(hiddenTrigger, 'load');
    }


    // function selectedOption() {
    //     var selectElement = document.getElementById('year_success_evidence');
    //     console.log(selectElement)
    //     return selectElement.options[selectElement.selectedIndex];
    // }


</script>

</html>