<html>
<head>
    <title>Indicator Explorer</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div>
    Select Year
</div>
<div id="year-selector" class="year-selector">
    <button hx-get="/indicator_selector?ay=2020-2021" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2020-2021</button> |
    <button hx-get="/indicator_selector?ay=2021-2022" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2021-2022</button> |
    <button hx-get="/indicator_selector?ay=2022-2023" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2022-2023</button> |
    <button hx-get="/indicator_selector?ay=2023-2024" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2023-2024</button> |
    <button hx-get="/indicator_selector?ay=2024-2025" hx-trigger="click" hx-target="#indicator-selector" hx-swap="innerHTML">2024-2025</button>
</div>

<div id="indicator-selector">
    <!-- This content will be replaced with the response from the /get-component endpoint -->
</div>


<div id="success-indicator-evidence">
    <!-- REPLACE HTML HERE FROM /get-component -->
</div>


</body>
<script>

    document.body.addEventListener('htmx:beforeOnLoad', function(evt) {
        // Check if the request is coming from the year-selector buttons
        var yearSelector = document.getElementById('year-selector');
        if (yearSelector && yearSelector.contains(evt.target)) {
            // Clear the content of target-div before the new content loads
            document.getElementById('success-indicator-evidence').innerHTML = '';
        }
    });

</script>
</html>