<table>
    <thead>
    <tr>
        <th>Success Indicator</th>
        <th>Composite Key</th>
        <th>Goals</th>
        <th>Year Success Evidences</th>
        <th>Status Levels</th>
    </tr>
    </thead>
    <tbody>
    {% for indicator in success_indicator %}
    <tr>
        <td>{{ indicator.success_indicator }}</td>
        <td>{{ indicator.composite_key }}</td>
        <td>{{ indicator.goals | map(attribute='name') | join(', ') }}</td>
        <td>{{ indicator.year_success_evidences | map(attribute='year_identifier') | join(', ') }}</td>
        <td>{{ indicator.status_levels | map(attribute='status_level') | join(', ') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>