<h2>Success Indicator</h2>
{% include 'success_indicator_table.html' %}
<h2>Documents</h2>

{% with documents=success_indicator.documents %}
{% include 'documents_table.html' %}
{% endwith %}
{% include 'forms/submit_document.html' %}
<h2>Websites</h2>
{% with websites=success_indicator.websites %}
{% include 'websites_table.html' %}
{% endwith %}
<h2>Notes</h2>
{% with notes=success_indicator.notes %}
{% include 'notes_table.html' %}
{% endwith %}
<h2>Vendors</h2>
{% with notes=success_indicator.vendors %}
{% include 'vendors_table.html' %}
{% endwith %}