<table>
    <thead>
    <tr>
        <th>Success Indicator</th>
        <th>Composite Key</th>
        <th>Goals</th>
        <th>Year Success Evidences</th>
        <th>Status Levels</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ success_indicator.success_indicator.success_indicator }}</td>
        <td>{{ success_indicator.composite_key }}</td>
        <td>{{ success_indicator.goals | map(attribute='name') | join(', ') }}</td>
        <td>{{ success_indicator.year_success_evidence.year_identifier }}</td>
        <td>{{ success_indicator.status_level.status_level }}</td>
    </tr>
    </tbody>
</table>