
<label for="year_success_evidence"></label>
<select id="year_success_evidence" name="success_indicator"
        hx-trigger="change"
        hx-get="/success-indicator"
        hx-swap="innerHTML"
        hx-target="#success-indicator-evidence"
        hx-params="*">
    {% for item in year_success_evidence %}
    <option value="{{ item.academic_year }}/{{ item.composite_key.split('-')[0] }}/{{ item.composite_key.split('-')[1] }}">
        {{ item.year_success_evidence }} - {{ item.success_indicator }}
    </option>
    {% endfor %}
</select>
